.text-red {color: #D22631;}
hover:text-red {color: #D22631;}
.border-red {border-color: #D22631;}
.bg-red {background-color: #D22631;}
.text-yellow {color: #FFC72C;}
.bg-yellow {background-color: #FFC72C;}
.border-yellow {border-color: #FFC72C;}

.mt-25p	{margin-top: 25vh;}
.mt-50p	{margin-top: 50vh;}
.-mt-25p	{margin-top: -25vh;}
.-mt-50p	{margin-top: -50vh;}
.-mt-75p	{margin-top: -75vh;}
.-mt-100p	{margin-top: -100vh;}
.h-screen-half {height: 50vh;}
.w-screen-half {width: 50vh;}

.r-half {right: 50}

.md ul {
    list-style-type: disc;
    padding-left: 40px;
    padding-top: 0px;
}

input[type=checkbox]:checked, input[type=radio]:checked {
    background-color: #009387;
    border-color: #009387;
}
input.checkbox:focus, input.checkbox:hover, input.radio:focus, input.radio:hover {
    border-color: #f4bb00;
}