{% if nav.items %}
  <nav class="flex flex-wrap justify-center">  
    <div class="">
      {% for item in nav.items %}
        {% set externalAttribute = '' %}
        {% set currentAttribute = '' %}

        {% if item.external %}
          {% set externalAttribute = ' rel="external"' %}
        {% endif %}

        {% if page.url == item.url %}
          {% set currentAttribute = ' aria-current="page"' %}
        {% endif %}

        <a 
          href="{{ item.url }}"{{ externalAttribute | safe }}{{ currentAttribute | safe }}
          class="px-2 sm:px-5 py-2 text-lg font-medium leading-6 text-black hover:text-white">{{ item.text }}</a>

      {% endfor %}
    </div>
  </nav>
{% endif %}