<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
  <link rel=icon href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">🌈</text></svg>'>
  {% include "partials/global/meta-info.njk" %}
  <style>{% include "css.css" %}</style>
  <script>document.documentElement.classList.remove('no-js');</script>
  {% block head %}{% endblock %}
</head>
<body class="bg-black text-white antialiased border-t-4 border-red">

      <div class="px-4">
        {% include "hero.njk" %}
      </div>
      
      {#% include "partials/global/site-head.njk" %#}
      
      <div class="px-4 {% if page.url == '/' %}{% else %}mb-6 sm:mb-0{% endif %} text-lg lowercase">
        {% block content %}{% endblock content %}
      </div>
      
      {% include "blm.njk" %}
      {#% include "partials/blm.njk" %#}
      {% include "footer.njk" %}

      {% block foot %}{% endblock %}

</body>
</html>
