{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{% block content %}
  <main id="main-content" tabindex="-1" class="bg-black">
    
    <div class="h-screen bg-black text-center">
      <h1 class="pt-6 font-serif text-4xl tracking-tight leading-10 font-extrabold text-white sm:text-5xl sm:leading-none md:text-6xl">
        {{ site.name }}
      </h1>
    </div>

    <div class="h-screen-half -mt-50p bg-red">
          <div class="h-full flex items-end justify-center text-xl text-white font-bold pb-6">
            <a href="/who" class="border-dashed border-b-4 hover:text-black hover:border-4 hover:border-dashed focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-50 ease-in-out border-black">acknowledge & enter</a>
          </div>
    </div>

    <div class="mx-auto w-screen-half h-screen-half -mt-75p bg-yellow rounded-full">
      <div class="mx-auto h-full flex items-center text-center justify-center text-xl text-black font-bold">
        independent,<br> expert advice for <br>websites, domains, & <br>email. i acknowledge the<br> wurundjeri people as the <br>rightful custodians<br> of my land.
      </div>
    </div>

    {#% include "partials/components/intro.njk" %}
    {% include "partials/components/post-list.njk" %}
    {% include "partials/components/pagination.njk" %#}

  </main>
{% endblock %}
