{% extends 'layouts/base.njk' %}
{% set pageType = 'Page' %}

{# Intro content #}
{#% set introHeading = title %#}

{% block content %}
  <!--main id="main-content" tabindex="-1" class="">
    <article class="h-entry">
      {#% include "partials/components/intro.njk" %}
      {{# content | safe #}
    </article>
  </main-->

  <section class="overflow-hidden mt-20">
    <div class="relative max-w-screen-{% if maxwidth %}{{ maxwidth }}{% else %}md{% endif %} mx-auto">
      <div class="relative">
        <div class="flex items-center">
            <h4 class="flex-initial pr-2 tracking-tight sm:text-4xl leading-none sm:leading-none font-extrabold text-yellow text-3xl">
              {{ title }}
            </h4>
            <div class="flex-1 border-t-2 border-red"></div>
        </div>
        <br>
        <p class="text-lg sm:text-xl">
          {% if lead %}<span class="font-bold">{{ lead }}</span> {% endif %}
          {% if norm %}{{ norm }}{% endif %}
          {% if page.url == '/what/' %}my services include...{% endif %}<br><br>
          {% if page.url == '/who/' %}
            <span class="lowercase">{% include "who.njk" %}</span>    
          {% elseif page.url == '/why/' %}
            {% include "why.njk" %}
          {% elseif page.url == '/contact/' %}
            {% include "contact.njk" %}
          {% endif %}
        </p>
        {% if content %}
          <div class="md text-lg sm:text-xl">
            {{ content | safe }}
          </div>
        {% endif %}
        {% if nextlink %}
          <p class="mt-8 text-xl leading-7 text-white">
            <span class="font-bold">{% if page.url == '/contact/' %}return to homepage:{% else %}next page:{% endif %}</span>
            <a class="text-yellow font-bold tracking-tight border-b-2 border-solid border-red" href="{% if page.url == '/contact/' %}/{% else %}/{{ nextlink }}/{% endif %}" 
            {% if nextlinkgoal %} onclick="fathom.trackGoal('{{ nextlinkgoal }}', 0);" {% endif %}
            >{{ nexttext }}</a>  
            
            <!--svg class="inline-block text-white text-xs h-5 w-5 ml-1" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"></path></svg-->
          </p>
        {% endif %}
        
      </div>
    </div>
  </section>

{% endblock %}